* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
}
.splash-screen {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/splashScreenbg.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}
.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.title {
    color: #256E46;
}
.fade-out {
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
.scroller {
    display: none;
}